body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Establecer la altura al 100% de la ventana de visualización */
  background: linear-gradient(to bottom right, #FFD700, #FFA500); /* Degradado de colores cálidos */
}

