body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

h1,
h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para el diseño flexible del contenedor */
.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container>div {
    flex: 1;
    margin-right: 20px;
}